<div class="container">
    <div class="row page-footer">
        <div class="col-8">
            <img src="./img/logo-rdp.png" width="35%">
        </div>
        <div class="col centralizar">
            <a href="/sobre">
                <img src="img/sobre.png" width="35%">
                <br>
                Sobre nós
            </a>
        </div>
        <div class="col centralizar">
            <a href="/contato">
                <img src="img/contato.png" width="30%">
                <br>
                Contato
            </a>
        </div>
    </div>
    <div class="centralizar">
        © 2022 Copyright
    </div>
</div>