<div class="container">
    <div class="row page-footer">
        <div class="col-7 centralizar logo-copy">
            <img src="./img/logo-rdp.png" width="50%">
        </div>
        <div class="col centralizar">
            <a href="/sobre">
                <img class="sobre-contato" src="img/sobre.png" width="35%">
                <br>
                Sobre nós
            </a>
        </div>
        <div class="col centralizar">
            <a href="/contato">
                <img class="sobre-contato" src="img/contato.png" width="30%">
                <br>
                Contato
            </a>
        </div>
    </div>
    <div class="centralizar txt-footer logo-copy">
        © 2022 Copyright
    </div>
</div>