<div>
    <div class="row page-footer">
        <div class="col-7 logo-footer">
            <img src="./img/logo-rdp.png" width="50%">
        </div>
        <div class="col sobre-contato">
            <div id="sobre" onclick="abrirModalSobre()">
                <img src="img/sobre.png" width="35%">
                <br>
                Sobre nós
            </div>
        </div>
        <div class="col sobre-contato">
            <div class="contato" onclick="abrirModalContato()">
                <img src="img/contato.png" width="30%">
                <br>
                Contato
            </div>
        </div>
    </div>
    <div class="copy-footer">
        © 2022 Copyright
    </div>
</div>