<div class="modal-sobre">
    <button onclick="fecharModalSobre()">X</button>
    <h1>Sobre nós</h1>
    <p>Nós somos uma equipe de estudantes atuando na área da tecnologia da constituição Programadores do Amanhã, na qual
        possui o objetivo de formar jovens desenvolvedores full stack, e dessa forma contribuir na carreira dos sonhos.
        À vista disso, foi criado o "devInit" com o intuito de ajudar novos desenvolvedores que almejam ingressar no
        mercado tecnológico.</p>
</div>

<div class="modal-contato">
    <button onclick="fecharModalContato()">X</button>
    <h1>Contato</h1>
    <p>Entre em contato conosco:</p>
    <div class="link-contatos">
        <a href="mailto: projetopda04@gmail.com">
            <img src="./img/email.png" alt="email"><br>E-mail
        </a>
        <a href="https://github.com/Grupo04-PdA">
            <img src="./img/github.png" alt="github"><br>Git Hub
        </a>
    </div>
</div>
