.linha {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

* {
    font-family: 'Fira Code', monospace;
    margin: 0;
    padding: 0;
}

.fundo-nav {
    background-color: #1F144A;
    padding: 2%;
}

.menu li {
    display: flex;
    flex-direction: row;
}

.menu a:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid transparent;
    border-radius: 10px 0px;
}

.menu a {
    padding: 15px;
    color: #fff;
    text-decoration: none;
    border: 1px solid transparent;
    list-style: none;
}

.bg-categorias {
    background-color: #3F3E74;
}

.categorias{

}

.item-cat {
    text-align: center;
    min-height: 60px;
    max-height: 300px;
    height: 150%;
    align-items: center;
}

.item-cat img {
    transition: all 0.3s;
}

.item-cat img:hover {
    transform: scale(1.2);
}

.fundo-bory {
    background-color: #1F144A;
    padding-bottom: 10%;
    display: flex;
    justify-content: space-between;
    padding-top: 3%;
    margin-right: 0;
}
.txt-bory {
    margin-left: 3%;
    margin-top: 2%;
}
.img-bory {
    margin-left: 20%;
}

.titulo {
    color: #E8A1BB;
    margin-left: 8%;
    padding-top: 5%;
    font-weight: bolder;
}

.parag {
    color: #48B15F;
    margin-left: 8%
}

.menu-hamburguer{
    background-color: #1F144A;
}

.button-burguer {
    justify-content: end;
    align-items: end;
}

.pesquisar {
    background-color: #60558E;
    border: none;
    border-radius: 25px 20px;
    width: 60%;
    height: 50px;
    color:#fff;
    border-top: 1px;  
    padding: 2px;
    display:block;
    resize: none;
    font-size: 1rem;
    margin: 2%;
    margin-left: 9%;
}

.txt-pesquisar {
    float: left;
    background-color: transparent;
    padding-left: 2%;
    font-size: 100%;
    border: none;
    height: 100%;
    width: 90%;

}
::placeholder{
    color:#fff
}

footer{
    border-top: 1px solid #3F3E74;
    background-color: #1F144A;
    color: #fff;
}

.page-footer {
    padding-top: 3%;
    padding-bottom: 3%;
    align-items: center;
}

.page-footer img{
    padding-left: 3%;
}

.page-footer a{
    text-decoration: none;
    color:#fff;
}

.page-footer a:hover {
    text-decoration: underline;
    color:#fff;
}

.copy-footer {
    padding: 2%;
    text-align: center;
}

.sobre-contato{
    text-align: center;
}

@media (min-width: 1200px) {
    .navbar-toggler {
        display: none;
    }
}

@media (min-width: 847px ) and (max-width: 1199px) {
   .navbar-toggler {
        display: none;
    }
    .fundo-bory {
        flex-direction: column-reverse;
    }
    
    .img-bory {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 5%;
    }
}

@media (min-width: 601px ) and (max-width: 846px) {
    section ul.menu li {
        display: none;
    }
    section div ul.menu li {
        display: flex;
    }
    .fundo-bory {
        flex-direction: column-reverse;
    }
    
    .img-bory {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 5%;
    }
}

@media (max-width: 600px) {
    section ul.menu li {
        display: none;
    }
    section div ul.menu li {
        display: flex;
    }
    .fundo-bory {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .img-bory {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sobre-contato {
        padding: 3% 0%;
        text-align: center;
    }
    .sobre-contato img{
        width: 10vw;
        padding: 1%;
    }
    .logo-footer{
        text-align: center;
        width: 100vw;
        padding: 2%;
    }
    .page-footer {
        display: flex;
        flex-direction: column;
    }
    footer{
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .txt-pesquisar {
        font-size: 88%;
    }
}
.div-body{
    text-align: center;
    padding: 1rem;
    background-color: #3a297e;
}
.slide-controller:nth-child(1):checked ~ .slide-show .slides-list{--selected-item: 0;}
.slide-controller:nth-child(2):checked ~ .slide-show .slides-list{--selected-item: 1;}
.slide-controller:nth-child(3):checked ~ .slide-show .slides-list{--selected-item: 2;}
.slide-controller:nth-child(4):checked ~ .slide-show .slides-list{--selected-item: 3;}
  
.slide-show{
    overflow: hidden;
    margin-left: 2rem;
    margin-right: 2rem;
   
}
  
.slides-list{
    --selected-item: 0;
    --total-items: 4;
    list-style-type: none;
    margin: 1rem 0;
    padding: 0;
    position: relative;
    left: calc(var(--selected-item) * -100%);
    width: calc(var(--total-items) * 100%);
    transition: left 0.4s cubic-bezier(0.680, -0.550, 0.265, 1.550);
    
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 25fr;
}

h2{
    color: #fff;
    font-family: 'Fira Code', monospace;

}
.pergunta{
  text-align: left;
  background-color: #fff;
  color: #000;
  padding: 1.5rem;
  border-radius: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  
}
.fundo-pergunta{
    background-color: #1F144A;
    border-radius: 2rem;
    text-align: center;
}
.link-usuario{
    text-decoration: none;
    color:#000

}
.resposta{
    padding: 1rem;
    border-radius: 2rem;
    background-color: rgb(233, 233, 233);

}

@media (min-width: 195px ) and (max-width: 693px) {

    .slide-show{
        overflow: hidden;
        margin-left: 1rem;
        margin-right: 1rem;
        height: 20rem;
    }

    .pergunta{
        text-align: left;
        background-color: #fff;
        color: #000;
        padding: 0.5rem;
        border-radius: 2rem;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 2rem;
      }

      .link-usuario{
        text-decoration: none;
        color:#000;
    }

    .resposta{
        padding: 1rem;
        border-radius: 2rem;
        background-color: rgb(233, 233, 233);
        height: 8rem;
    }

    .fundo-pergunta{
        background-color: #1F144A;
        border-radius: 2rem;
        text-align: center;
        margin-bottom: 2rem;
    }

    h6 {
        font-size: 7px;
        margin-bottom: 1rem;
    }
} 

@media (max-width: 275px) {
    .div-body {
        display: none;
    }
}



/*
@media (min-width: 1020px ) {
   .navbar-toggler {
        display: none;
    }
}

@media (min-width: 769px) and (max-width: 1019px) {
    section ul.menu li{
        display: none;
    }
    section div ul.menu li {
        display: flex;
    }    
}

@media (max-width: 768px) {
    section ul.menu li {
        display: none;
    }
    section div ul.menu li {
        display: flex;
    }
}*/