.linha {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

* {
    font-family: 'Fira Code', monospace;
    margin: 0;
    padding: 0;
}

.fundo-nav {
    background-color: #1F144A;
    padding: 2%;
}

.menu li {
    display: flex;
    flex-direction: row;
}

.menu a:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid transparent;
    border-radius: 10px 0px;
}

.menu a {
    padding: 15px;
    color: #fff;
    text-decoration: none;
    border: 1px solid transparent;
    list-style: none;
}

.bg-categorias {
    background-color: #3F3E74;
    align-items: center;
}

.fundo-bory {
    background-color: #1F144A;
    padding-bottom: 10%;
    display: flex;
    justify-content: space-between;
    padding-top: 3%;
    margin-right: 0;
}
.txt-bory {
    margin-left: 3%;
    margin-top: 2%;
}
.img-bory {
    margin-left: 20%;
}

.titulo {
    color: #E8A1BB;
    margin-left: 8%;
    padding-top: 5%;
    font-weight: bolder;
}

.parag {
    color: #48B15F;
    margin-left: 8%
}

.alinhar-cat {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.menu-hamburguer{
    background-color: #1F144A;
}

.button-burguer {
    justify-content: end;
    align-items: end;
}

.pesquisar {
    background-color: #60558E;
    border: none;
    border-radius: 25px 20px;
    width: 60%;
    height: 50px;
    color:#fff;
    border-top: 1px;  
    padding: 2px;
    display:block;
    resize: none;
    font-size: 1rem;
    margin: 2%;
    margin-left: 9%;
}

.txt-pesquisar {
    float: left;
    background-color: transparent;
    padding-left: 2%;
    font-size: 100%;
    border: none;
    height: 100%;
    width: 90%;

}
::placeholder{
    color:#fff
}

footer{
    border-top: 1px solid #3F3E74;
    background-color: #1F144A;
    color: #fff;
}

.page-footer {
    padding-top: 3%;
    padding-bottom: 3%;
    align-items: center;
}

.page-footer img{
    padding-left: 3%;
}

.page-footer a{
    text-decoration: none;
    color:#fff;
}

.page-footer a:hover {
    text-decoration: underline;
    color:#fff;
}

.centralizar {
    text-align: center;
}

.txt-footer {
    padding-bottom: 6%;
}

@media (min-width: 1200px) {
    .navbar-toggler {
        display: none;
    }
}

@media (min-width: 847px ) and (max-width: 1199px) {
   .navbar-toggler {
        display: none;
    }
    .fundo-bory {
        flex-direction: column-reverse;
    }
    
    .img-bory {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 5%;
    }
    .sobre-contato {
        width: 10vw;
        padding: 3% 0%;
    }
    .logo-copy {
        padding: 10% 0%;
    }
    .page-footer {
        display: block;
        padding-left: 0%;
    }
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 846px) {
    section ul.menu li {
        display: none;
    }
    section div ul.menu li {
        display: flex;
    }
    .fundo-bory {
        flex-direction: column-reverse;
    }
    
    .img-bory {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 5%;
    }
    .sobre-contato {
        width: 10vw;
        padding: 3% 0%;
    }
    .logo-copy {
        padding: 10% 0%;
    }
    .page-footer {
        display: block;
        padding-left: 0%;
    }
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 400px) {
    section ul.menu li {
        display: none;
    }
    section div ul.menu li {
        display: flex;
    }
    .fundo-bory {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .img-bory {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sobre-contato {
        width: 10vw;
        padding: 3% 0%;
    }
    .page-footer {
        display: block;
        padding-left: 0%;
        justify-content: center;
        align-items: center;
    }
    .logo-copy {
        padding: 14% 0%;
    }
    .txt-pesquisar {
        font-size: 88%;
    }
}




/*
@media (min-width: 1020px ) {
   .navbar-toggler {
        display: none;
    }
}

@media (min-width: 769px) and (max-width: 1019px) {
    section ul.menu li{
        display: none;
    }
    section div ul.menu li {
        display: flex;
    }    
}

@media (max-width: 768px) {
    section ul.menu li {
        display: none;
    }
    section div ul.menu li {
        display: flex;
    }
}*/