/* CSS reset */
*,
*:before,
*:after {

  margin: 0;
  padding: 0;
  font-family: 'Fira Code', monospace;

}

/* remove a linha dos links */
a {
  text-decoration: none;
}

/* esconde as ancoras da tela */
a.links {
  display: flex;
}

.content {
  display: flex;
  flex-direction: row;
  background-color: #F9F4FF;
  width: 700px;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 40px;
}

.imagens {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
}

.logo-login {
  width: 8rem;
  padding: 2%;
}

.img-login {
  width: 20rem;
}

.form-login {
  background-color: #60558E;
  border-radius: 0 40px 40px 0px;
  color: #fff;
  height: 400px;
}

.form-login h1 {
  padding-top: 10%;
  font-weight: bolder;
  padding-left: 4%;
}

.form-cadastro {
  background-color: #60558E;
  border-radius: 0 40px 40px 0px;
  color: #fff;
  height: 400px;
  margin-left: 2%;
}

.form-cadastro h1 {
  padding-top: 4%;
  font-weight: bolder;
  padding-left: 4%;
}

.campo {
  padding: 3%;
}

.campo input {
  border-radius: 20px;
  border: none;
  padding: 2%;
  width: 15rem;
  background-color: #fff;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2)
}

.campo input:focus {
  background-color: #F9F4FF;
}

.check {
  margin-left: 3%;
}

.btn1 {
  border-radius: 20px;
  border: none;
  background-color: #1F144A;
  color: #fff;
  padding: 2%;
  margin: 3%;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2)
}

.btn2 {
  border-radius: 20px;
  border: none;
  background-color: #F9F4FF;
  color: #1F144A;
  padding: 1%;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2)
}

.btn1:hover {
  background-color: #F9F4FF;
  color: #1F144A;
}

.btn2:hover {
  background-color: #1F144A;
  color: #fff;
}

.conta {
  text-align: center;
  margin-top: 9%;
}

.conta1 {
  text-align: center;
}

/* placeholder */
::-webkit-input-placeholder {
  color: #0000005d;
  font-family: 'Fira Code', monospace;
}

input {
  outline: none;
}


#cadastro,
#login {
  -webkit-box-align: 5px;

  -webkit-animation-duration: 0.5s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: both;

  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}

/* Efeito ao clicar no botão ( Ir para Login ) */
#paracadastro:target~.content #cadastro,
#paralogin:target~.content #login {
  z-index: 2;
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;

  -webkit-animation-delay: .1s;
  animation-delay: .1s;
}

/* Botão voltar tela de login */
.botao-voltar {
  margin: 1%;
  padding: 1%;
  background-color: #60558E;
  border: none;
  border-radius: 25px;
  width: 140px;
  display: flex;
  flex-direction: row;
  text-align: center;
}

.botao-voltar:hover {
  background-color: #3F3E74;
}

.botao-voltar a {
  color: #fff;
}

/* Efeito ao clicar no botão ( Cadastre-se ) */
#registro:target~.content #login,
#paralogin:target~.content #cadastro {
  -webkit-animation-name: fadeOutLeft;
  animation-name: fadeOutLeft;
}

/*fadeInLeft*/
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/*fadeOutLeft*/
@-webkit-keyframes fadeOutLeft {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
  }
}

@keyframes fadeOutLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(-20px);
  }
}

/*Responsividade do site */

@media (min-width: 1020px) {
  .navbar-toggler {
    display: none;
  }
}

@media (min-width: 769px) and (max-width: 1019px) {
  section .content {
    display: none;
  }

  section div .content {
    display: flex;
  }
}

@media (max-width: 768px) {
  section .content {
    display: none;
  }

  section div .content {
    display: flex;
  }
}