* {
    margin: 0;
    padding: 0;

}


header {
    font-family: 'Fira Code', monospace;
    background-color: #1F144A;
    height: 150px;
    width: 200;
    margin: -10px;
    box-shadow: 0 0 1rem black;
    justify-content: space-between;
}

.logo {
    display: flex;
    justify-content: space-between;
    padding: 2%;
    margin: 10px;
    margin-top: 10px;
    margin-right: 10px;
}

.logo1 {
    display: flex;
    justify-content: end;
    padding: -15%;
    margin-right: 20px;
    margin-top: -120px;
}

