.row {
    max-width: 100%;
    margin: 0;
}

.textarea {
    min-height: 40vh;
    width: 90%;
    padding: 4% 6%;
}

#texto-principal {
    color: #E8A1BB;
    display: block;
    padding: 3% 0% 1% 7%;
    font-size: 1.7rem;
    font-weight: bolder;
}

textarea {
    background-color: #60558E;
    color: white;
    border-radius: 40px;
    margin-left: 4%;
    padding: 1% 2%;
    resize: none;
    font-size: 1rem;
    border: none;
}

.alerta-text {
    color: rgb(200, 200, 200);
    display: none;
    padding: 1% 0% 1% 4%;
}

.alerta-select {
    color: rgb(200, 200, 200);
    display: none;
    padding: 0% 0% 1% 4%;
}

::-webkit-input-placeholder {
    color: white;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: white;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: white;
}

:-ms-input-placeholder {
    color: white;
}

select {
    background-color: #60558E;
    padding: 1%;
    border-radius: 40px;
    display: block;
    margin: 2% 0% 2% 4%;
    font-size: 1rem;
    border: none;
    color: white;
}

select:invalid {
    color: white;
}

#btn-enviar {
    background-color: #60558E;
    color: white;
    border-radius: 40px;
    padding: 1%;
    margin-left: 4%;
    font-size: 1rem;
    margin-bottom: 5%;
    border: none;
}

#btn-enviar:disabled {
    background-color: #F9F4FF;
    color: #60558E;
}

.centralizar {
    text-align: center;
}