.linha {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

* {
    font-family: 'Fira Code', monospace;
    margin: 0;
    padding: 0;
}

.fundo-nav {
    background-color: #1F144A;
    padding: 2%;
}

.menu li {
    display: flex;
    flex-direction: row;
}

.menu a:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid transparent;
    border-radius: 10px 0px;
}

.menu a {
    padding: 15px;
    color: #fff;
    text-decoration: none;
    border: 1px solid transparent;
    list-style: none;
}

.bg-categorias {
    background-color: #3F3E74;
    align-items: center;
}

.fundo-bory {
    background-color: #1F144A;
    padding-bottom: 10%;
    display: flex;
    justify-content: space-between;
    padding-top: 3%;
    margin-right: 0;
}
.txt-bory {
    margin-left: 3%;
    margin-top: 2%;
}
.img-bory {
    margin-left: 20%;
}

.titulo {
    color: #E8A1BB;
    margin-left: 8%;
    padding-top: 5%;
}

.parag {
    color: #48B15F;
    margin-left: 8%
}

.alinhar-cat {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.menu-hamburguer{
    background-color: #1F144A;
}

.button-burguer {
    justify-content: end;
    align-items: end;
}

.pesquisar {
    background-color:#eeeeee;
    border:solid 1px;
    border-radius: 5px;
    width:30vw;
    margin-left: 7%;
}

.txt-pesquisar {
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-style:italic;
    width:28vw;
    border:none;

}
footer{
    border-top: 1px solid #3F3E74;
    background-color: #1F144A;
    color: #fff;
}

.page-footer {
    padding-top: 3%;
    padding-bottom: 3%;
    align-items: center;
}

.page-footer img{
    padding-left: 3%;
}

.page-footer a{
    text-decoration: none;
    color:#fff;
}

.page-footer a:hover {
    text-decoration: underline;
    color:#fff;
}

.centralizar {
    text-align: center;
}

@media (min-width: 1020px ) {
   .navbar-toggler {
        display: none;
    }
}

@media (min-width: 769px) and (max-width: 1019px) {
    section ul.menu li{
        display: none;
    }
    section div ul.menu li {
        display: flex;
    }    
}

@media (max-width: 768px) {
    section ul.menu li {
        display: none;
    }
    section div ul.menu li {
        display: flex;
    }
}