
body {
    background: #1F144A;
}

.linha {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

* {
    font-family: 'Fira Code', monospace;
    margin: 0;
    padding: 0;
}

.fundo-nav {
    background-color: #1F144A;
    padding: 2%;
}

.menu li {
    display: flex;
    flex-direction: row;
}

.menu a:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid transparent;
    border-radius: 10px 0px;
}

.menu a {
    padding: 15px;
    color: #fff;
    text-decoration: none;
    border: 1px solid transparent;
    list-style: none;
}

@media (min-width: 1020px ) {
    .navbar-toggler {
         display: none;
     }
 }
 
 @media (min-width: 769px) and (max-width: 1019px) {
     section ul.menu li{
         display: none;
     }
     section div ul.menu li {
         display: flex;
     }    
 }
 
 @media (max-width: 768px) {
     section ul.menu li {
         display: none;
     }
     section div ul.menu li {
         display: flex;
     }
 }

 #divBusca{
    background-color: #60558E;
    border: none;
    border-radius: 25px 20px;
    width: 50%;
    height: 50px;
    color:#fff;
    border-top: 1px;  
    padding: 2px;
    display:block;
    resize: none;
    font-size: 1rem;
    margin: 2%;
    margin-left: 25%;
}
#txtBusca{
    float: left;
    background-color: transparent;
    padding-left: 30%;
    font-size: 100%;
    border: none;
    height: 100%;
    width: 90%;

}

#divBusca img{
float: right;
}
::placeholder{
    color:#fff
}
textarea {
    background-color: #60558E;
    color: white;
    border-radius: 40px;
    margin-left: 20%;
    padding: 1% 2%;
    resize: none;
    font-size: 1rem;
    border: none;
    color: #fff; 
}


.btn-flex {
    border: none;
    background: #E8A1BB;
    width: 70px;
    border-radius: 50%;
    height: 70px;
    margin: 1rem;
    z-index: 1;
    position: fixed;
    top: 52rem;
    right: 1rem;
    transition: 
    background 350ms, color 350ms;
}

.btn-flex:hover {
    color: #080808;
    background: #60558E;
    transition: 
    background 350ms, color 350ms;
}

.txt-btn-pesquisar {
    text-align: center;
    font-size: 16px;
    font-family: 'Fira Code', monospace;
}