<!DOCTYPE html>

<head>
  <%- include("../partials/head") %>
    <link rel="stylesheet" type="text/css" href="../style/login.css" />
</head>

<body style="background-color: #190d49 ;">
  <header>
    <div class="col-12">
      <button type="button" class="botao-voltar">
        <a href="/">
          <img style="width: 20%;" src="img/voltar.png">
          Voltar
        </a>
      </button>
    </div>
  </header>

  <div class="col-12">
    <div class="content" ;>
      <div class="imagens col-6">
        <img class="logo-login" src="img/logo-login.png">
        <img class="img-login" src="img/img-login.png">
      </div>
      <!--FORMULÁRIO DE LOGIN-->
      <div id="login" class="form-login col-6">
        <form method="post" action="">
          <fieldset>
            <h1>Login</h1>

            <div class="campo">
              <label for="email_login">E-mail</label><br>
              <input id="email_login" name="email_login" required type="text" placeholder="E-mail" />
            </div>

            <div class="campo">
              <label for="senha_login">Senha</label><br>
              <input class="input-senha" id="senha_login" name="senha_login" required type="password"
                placeholder="Senha" />
              <img class="eye-password" id="eye-login" src="../img/eye-open.svg" width="17px" onclick="clickEyeLog()">
            </div>

            <div class="check">
              <input type="checkbox" name="manterlogado" id="manterlogado" value="" />
              <label for="manterlogado">Manter-me logado</label>
            </div>

            <button id="btn-entrar" class="btn1" type="button" onclick="login()">Entrar</button>
          </fieldset>

          <div class="conta">
            Ainda não tem conta?
            <a class="btn2" href="/cadastro">Cadastre-se</a>
          </div>
        </form>
      </div>

      <div class="modal-login">
        <button onclick="fecharModal()">X</button>
        <h2>Email ou senha inválidos</h2>
        <img src="/img/erro.png">
      </div>

    </div>
    <script src="../js/login.js"></script>
    <script src="../js/fetch/usuario/loginUsuario.js"></script>
</body>