/* remove a linha dos links */
a {
  text-decoration: none;
}

/* esconde as ancoras da tela */
a.links {
  display: flex;
}

.content {
  display: flex;
  flex-direction: row;
  background-color: #F9F4FF;
  width: 700px;
  height: auto;
  min-height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 40px;
  max-width: 100%;
  margin: 0;
}

.imagens {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
}

.logo-login {
  width: 10rem;
  padding: 5%;
}

.img-login {
  width: 20rem;
  padding-top: 13%;
}

.form-login {
  background-color: #60558E;
  border-radius: 0 40px 40px 0px;
  color: #fff;
  height: auto;
  min-height: 400px;
}

.form-login h1 {
  padding-top: 10%;
  font-weight: bolder;
  padding-left: 4%;
}

.form-cadastro {
  background-color: #60558E;
  border-radius: 0 40px 40px 0px;
  color: #fff;
  height: auto;
  min-height: 400px;
}

.form-cadastro h1 {
  padding-top: 4%;
  font-weight: bolder;
  padding-left: 4%;
}

.campo {
  padding: 3%;
}

.campo input {
  border-radius: 20px;
  border: none;
  padding: 2%;
  width: 15rem;
  background-color: #fff;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2)
}

.campo input:focus {
  background-color: #F9F4FF;
}

.login_span {
  color: rgb(200, 200, 200);
  font-size: small;
  padding: 1%;
  display: none;
}

.check {
  margin-left: 3%;
}

.btn1 {
  border-radius: 20px;
  border: none;
  background-color: #1F144A;
  color: #fff;
  padding: 2%;
  margin: 3%;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2)
}

.btn2 {
  border-radius: 20px;
  border: none;
  background-color: #F9F4FF;
  color: #1F144A;
  padding: 1%;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2)
}

.btn1:disabled {
  background-color: #F9F4FF;
  color: #1F144A;
}

.btn2:hover {
  background-color: #1F144A;
  color: #fff;
}

.conta {
  text-align: center;
  padding-bottom: 2%;
}

/* placeholder */
::-webkit-input-placeholder {
  color: #0000005d;
  font-family: 'Fira Code', monospace;
}

input {
  outline: none;
}

.eye-password {
  cursor: pointer;
}

/* Botão voltar tela de login */
.botao-voltar {
  margin: 1%;
  padding: 1%;
  background-color: #60558E;
  border: none;
  border-radius: 25px;
  width: 140px;
  display: flex;
  flex-direction: row;
  text-align: center;
}

.botao-voltar:hover {
  background-color: #3F3E74;
}

.botao-voltar a {
  color: #fff;
}

.modal-cadastrado {
  width: 400px;
  height: 300px;
  background-color: #fff;
  border-radius: 25px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  padding: 3vh 2vw;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  text-align: center;
  display: none;
}

.modal-cadastrado img {
  width: 150px;
}

.fechar-modal-cadastro {
  background-color: #60558E;
  color: #fff;
  font-weight: bold;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  float: right;
  border: 2px solid #60558E;
}

.fechar-modal-cadastro:hover{
  background-color: #fff;
  color: #60558E;
  border: 2px solid #60558E;
}

.modal-cadastrado h2, .modal-cadastrado h3 {
  color:#3F3E74;
  font-weight: bold;
}

@media (max-width: 500px) {
  .campo input {
    width: 10rem;

  }

  .conta {
    display: flex;
    flex-direction: column;

  }
}