.row {
    max-width: 100%;
    margin: 0;
}

.textarea {
    min-height: 40vh;
    width: 90%;
    padding: 4% 6%;
}

#texto-principal {
    color: #E8A1BB;
    display: block;
    padding: 3% 0% 1% 7%;
    font-size: 1.7rem;
    font-weight: bolder;
}

textarea {
    background-color: #60558E;
    color: white;
    border-radius: 40px;
    margin-left: 4%;
    padding: 1% 2%;
    resize: none;
    font-size: 1rem;
    border: none;
}

.alerta-text {
    color: rgb(200, 200, 200);
    display: none;
    padding: 1% 0% 1% 4%;
}

.alerta-select {
    color: rgb(200, 200, 200);
    display: none;
    padding: 0% 0% 1% 4%;
}

::-webkit-input-placeholder {
    color: white;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: white;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: white;
}

:-ms-input-placeholder {
    color: white;
}

select {
    background-color: #60558E;
    padding: 1%;
    border-radius: 40px;
    display: block;
    margin: 2% 0% 2% 4%;
    font-size: 1rem;
    border: none;
    color: white;
}

select:invalid {
    color: white;
}

#btn-enviar {
    background-color: #60558E;
    color: white;
    border-radius: 40px;
    padding: 1%;
    margin-left: 4%;
    font-size: 1rem;
    margin-bottom: 5%;
    border: none;
}

#btn-enviar:disabled {
    background-color: #F9F4FF;
    color: #60558E;
}

.centralizar {
    text-align: center;
}

.modal-perguntar {
    width: 400px;
    height: 500px;
    background-color: #60558E;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
    animation: animate;
    animation-duration: 1000ms ;
    box-shadow: 6px 5px 5px 0px rgb(0 0 0 / 40%);
    border-radius: 15px;  
}

@keyframes animate {
    from{opacity: 1;}
    from{opacity: 0;}
}

.txt-modal-perg {
    text-align: center;
    padding: 5%;
    margin: 5%;
}

.btn-modal2{
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 2%;
    background-color: #1B1142;
    border-radius: 20px;
    width: 80%;
    margin-bottom: 2%;
}

.btn-modal2 a {
    color: white;
    text-decoration: none;
}

.botoes-perguntar { 
    align-items: center;
    display: flex;
    flex-direction: column;
}

.modal-erro-pergunta {
    width: 400px;
    height: 300px;
    background-color: #60558E;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 2%;
    display: none;
    transform: translate(-50%,-50%);
    animation: animate;
    animation-duration: 1000ms ;
    box-shadow: 6px 5px 5px 0px rgb(0 0 0 / 40%);
    border-radius: 15px;
    
}

@keyframes animate {
    from{opacity: 1;}
    from{opacity: 0;}
}

.modal-erro-pergunta button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #60558E;
    background-color: #1B1142;
    float: right;
    border: none;
    font-weight: bold;
    border: 2px solid #1B1142;
}

.modal-erro-pergunta button:hover {
    background-color: #60558E;
    border: 2px solid #1B1142;
    color: #1B1142;
}

.modal-erro-pergunta h1 {
    color: #FFF;
    text-align: center;
    padding-top: 3%;
}

.modal-erro-pergunta p {
    color: rgb(226, 226, 226);
    text-align: center;
}