.lista-pesquisa li {
  list-style-type: none;
  padding: 2%;
}

.fundo-pergunta-pesq, .titulo-pesq {
  display: none;
}

#divBusca{
    background-color: #60558E;
    border: none;
    border-radius: 25px 20px;
    width: 50%;
    height: 50px;
    color:#fff;
    border-top: 1px;  
    padding: 2px;
    display:flex;
    resize: none;
    font-size: 1rem;
    margin: 2%;
    margin-left: 25%;
    flex-direction: row-reverse;
    align-items: center;
}

footer {
  bottom: 0;
  position: absolute;
  width: 100vw;
}

.msg-erro {
  color: white;
}

#txt-busca {
  width: 95%;
  border: none;
  background-color: #60558E;
  padding-left: 2%;
}

#divBusca img {
    width: 5vh;
    margin-right: 2%;
}

#txtBusca{
    float: left;
    background-color: transparent;
    padding-left: 5%;
    font-size: 100%;
    border: none;
    height: 100%;
    width: 90%;
    color: #fff;
}

#txtBusca:focus {
    border: none;
}

#divBusca img{
float: right;
}
::placeholder{
    color:#fff
}

.textarea {
    background-color: #60558E;
    color: white;
    border-radius: 40px;
    margin-left: 20%;
    padding: 1% 2%;
    resize: none;
    font-size: 1rem;
    border: none;
    color: #fff; 
}

.btn-flex {
    border: none;
    background: #fdfdfd;
    padding: 0;
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid rgba(0,0,0 .5);
    position: fixed;
    right: 24px;
    bottom: 24px;
    overflow: hidden;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    transition: 
    background 350ms, color 350ms;
}

.btn-flex:hover {
    color: #080808;
    background: #60558E;
    transition: 
    background 350ms, color 350ms;
}

.txt-btn-pesquisar {
    text-align: center;
    font-size: 16px;
    font-family: 'Fira Code', monospace;
}

.curtir {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    padding: 8px;
    font-size: 1.1rem;
    color: #000;
    cursor: pointer;
    transition: all .25s ease-in-out;
  }
  .label {
    display: flex;
    align-items: center;
    margin-right: 8px;
  }
  .label svg {
    margin-right: 4px;
  }
  .label path {
    fill: #8a8d9b;   
    transition: all .25s ease-in-out;       
  }
  .number {
    color: #8a8d9b;
  }
  .curtir:hover path{
    fill: #ff00fd;
  }
  
  /* Number depois da curtida*/
  .number {
    color: #ff00fd
  }
  .curtir svg {
    animation: transitionLike 1s ease-in;
  }
  .curtir path {
    fill: #ff00fd;
  }
  
  @keyframes transitionLike {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.3);
    }
    100% {
      transform: scale(1);
    }
  }

@media (min-width: 195px ) and (max-width: 693px) {

    selection.col{
        display: flex;
    }
    
    div.fundo-pergunta-pesq{
    width: 350px;
    height: auto;
    margin: 20px;
    display: flex;
    flex-direction: column  ;
    }

    li{
        width: 300px;
        height: 500px;
        margin: 15px;
        left: 5px;
        display: flex;
       
    }

    btn-flex:hover{
        
        font-size: flex;
        display: flex;
    }

    div.resposta{
        width: 200px;
        height: 350px; 
        display: block;
    }

 
}