<div>
    <div class="page-footer">
        <div class="logo-footer">
            <img src="../img/logo-rdp.png">
        </div>
        <div class="sobre-contato">
            <div class="sobre" onclick="abrirModalSobre()">
                <img src="../img/sobre.png">
                <br>
                Sobre nós
            </div>

            <div class="contato" onclick="abrirModalContato()">
                <img src="../img/contato.png">
                <br>
                Contato
            </div>
        </div>
    </div>
    <div class="copy-footer">
        © 2022 Copyright
    </div>
</div>