<nav class="linha fundo-nav-nocad">
    <div class="col-6">
      <a href="/">
        <img src="./img/logo-header.png" alt="" width="50%">
      </a>
    </div>

    <section class="col">
      <ul class="row menu">
        <li class="col">
          <a href="/" title="Home">Home</a>
        </li>
        <li class="col">
          <a href="/perguntar" title="Perguntar">Perguntar</a>
        </li>
        <li class="col">
          <a href="/login" title="Entrar">Entrar</a>
        </li>
        <li class="col">
          <a href="/cadastro" title="Cadastrar">Cadastrar</a>
        </li>
      </ul>
      <button class="navbar-toggler navbar-dark" style=" margin-left: 65%;" type="button" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="menu-hamburguer offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
        aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel" style="color: #fff;">Menu</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" ; aria-label="Close"
            style="background-color: #fff;"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="menu">
            <li class="col">
              <a href="/" title="Home">Home</a>
            </li>
            <li class="col">
              <a href="/perguntar" title="Perguntar">Perguntar</a>
            </li>
            <li class="col">
              <a href="/login" title="Entrar">Entrar</a>
            </li>
            <li class="col">
              <a href="/cadastro" title="Cadastrar">Cadastrar</a>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </nav>