<nav class="linha fundo-nav-cad">
    <div class="col-6">
        <a href="/">
            <img src="./img/logo-header.png" alt="" width="50%">
        </a>
    </div>

    <section class="col">
        <ul class="menu-login">
            <li class="menu">
                <a href="/perguntar" title="Perguntar">Perguntar</a>
            </li>
            <li class="dropdown">
                <img class="img-header" src="https://cdn-icons-png.flaticon.com/512/5087/5087579.png"
                    alt="Foto de perfil">
                <ul>
                    <li class="drop-perfil"><a href="/perfil">
                            <img src="../img/meuperfil.png">
                            <p>Meu perfil</p>
                        </a></li>
                    <!-- <li class="drop-config"><a href="/configuracoes">
                        <img src="../img/configuracoes.png">
                        <p>Configurações</p>
                    </a></li> -->
                    <li class="drop-sair" onclick="openModalSair()">
                        <img src="../img/sair.png">
                        <p>Sair</p>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
</nav>

<div class="modal-sair">
    <h1>Deseja fazer logout?</h1>
    <button onclick="fecharModalSair()" class="btn-nao">NÃO, cancelar</button>
    <button onclick="logout()" class="btn-sim">SIM</button>

</div>