<!DOCTYPE html>

<head>
  <%- include("../partials/head") %>
</head>

<body style="background-color: #190d49 ;">
  <header>
    <button type="button" class="botao-voltar">
      <a href="/">
        <img style="width: 20%;" src="img/voltar.png">
        Voltar
      </a>
    </button>
  </header>

  <div class="container">
    <a class="links" id="paracadastro"></a>
    <a class="links" id="paralogin"></a>

    <div class="content row" ;>
      <div class="imagens col-6">
        <img class="logo-login" src="img/logo-login.png">
        <img class="img-login" src="img/img-login.png">
      </div>
      <!--FORMULÁRIO DE LOGIN-->
      <div id="login" class="form-login col-6">
        <form method="post" action="">
          <fieldset>
            <h1>Login</h1>

            <div class="campo">
              <label for="email_login">E-mail</label><br>
              <input class="input_all" id="email_login" name="email_login" required type="text" placeholder="E-mail" />
              <span class="login__span">E-mail inválido</span>
            </div>

            <div class="campo">
              <label for="senha_login">Senha</label><br>
              <input class="input_all" id="senha_login" name="senha_login" required type="password" placeholder="Senha" />
              <span class="login__span">Senha incorreta</span>
            </div>

            <div class="check">
              <input type="checkbox" name="manterlogado" id="manterlogado" value="" />
              <label for="manterlogado">Manter-me logado</label>
            </div>

            <button class="btn1" type="submit">Entrar</button>
          </fieldset>

          <div class="conta">
            Ainda não tem conta?
            <a class="btn2" href="#paracadastro">Cadastre-se</a>
          </div>
        </form>
      </div>

      <!--FORMULÁRIO DE CADASTRO-->
      <div class="content" ;>
        <div class="imagens col-6">
          <img class="logo-login" src="img/logo-login.png">
          <img class="img-login" src="img/img-login.png">
        </div>

        <div id="cadastro" class="form-cadastro col-6">
          <form method="post" action="">
            <fieldset>
              <h1>Cadastro</h1>

              <div class="campo">
                <label for="nome_login">Nome de usuário</label><br>
                <input class="input_all" id="input-username" name="nome_login" required type="text" placeholder="Nome de usuário" />
                <span class="login__span">Digite, no mínimo, 3 caracteres</span>
              </div>

              <div class="campo">
                <label for="email_login">E-mail</label><br>
                <input class="input_all" id="input_email" name="email_login" required type="text" placeholder="E-mail" />
                <span class="login__span">E-mail inválido</span>
              </div>

              <div class="campo">
                <label for="senha_login">Senha</label><br>
                <input class="input_all" id="input_password" name="senha_login" required type="password" placeholder="Senha" />
                <span class="login__span">Sua senha precisa conter, no mínimo, 6 caracteres com letra maiúscula, minúscula e números</span>
              </div>

              <button class="btn1" type="submit">Cadastrar</button>
            </fieldset>

            <div class="conta1">
              Já possui conta?
              <a class="btn2" href="#paralogin">Entrar</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script src="../js/login.js"></script>
</body>