<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include("../partials/head") %>
  <link rel="stylesheet" type="text/css" href="/grupo4-pdi-frontend/public/style/perfil.css">
</head>
<body>
  <header>
    <div class="logo">
        
    </div>
  </header>
    <main></main>
    <footer></footer>
</body>
</html>