<!DOCTYPE html>
<html lang="pt-br">
<head>
  <link rel="stylesheet" type="text/css" href="../../public/style/paraperfil.css">
</head>
<body>
  <header>
    <br>
    <div class="logo">
      <a href="../page/perguntar.ejs"><img src="../../public/img/logo-header.png" alt="" height="35vh"></a>
  </div>
  <br>
  <div class="logo1">
      <a href=""><img src="https://cdn-icons-png.flaticon.com/512/5087/5087579.png" alt="" width="100px"></a>
  </div>

  </header>
    <main></main>
    <footer></footer>
</body>
</html>