<!DOCTYPE html>
<html lang="pt-br">

<head>
  <%- include("../partials/head") %>
  <link rel="stylesheet" href="../style/pesquisa.css">
</head>

<body>
  <header>
    <nav class="linha fundo-nav">
      <div class="col-8">
        <a href="/">
          <img src="../img/logo-header.png" alt="" height="35vh">
        </a>
      </div>
      <section class="col">
        <ul class="row menu">
          <li class="col">
            <a href="/" title="Home">Home</a>
          </li>
          <li class="col">
            <a href="/login" title="Entrar">Entrar</a>
          </li>
          <li class="col">
            <a href="/login" title="Cadastrar">Cadastrar</a>
          </li>
        </ul>
        <button class="navbar-toggler navbar-dark" style=" margin-left: 72%;" type="button" data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="menu-hamburguer offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
          aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel" style="color: #fff;">Menu</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" ; aria-label="Close"
              style="background-color: #fff;"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="menu">
              <li class="col">
                <a href="/login" title="Entrar">Entrar</a>
              </li>
              <li class="col">
                <a href="/login" title="Cadastrar">Cadastrar</a>
              </li>
            </ul>
          </div>
        </div>
      </section>

    </nav>
  </header>

  <div id="divBusca">
    <img src="../img/lupa.png" alt="Pesquise aqui..." style="width: 7%" />
    <input type="text" id="txtBusca" placeholder="Pesquise aqui..." />
  </div>
  </div>
  <div>
    <h1 class="titulo">Principais resultados...</h1>
    <textarea name="pergunta" rows="4" cols="80" placeholder="" wrap="hard" required>JavaScript é uma linguagem de programação que permite a você implementar itens complexos em páginas web mostrando conteúdo que se atualiza em um intervalo de tempo, mapas interativos ou gráficos 2D/3D animados, etc.
  </textarea>
    <textarea name="pergunta" rows="4" cols="80" placeholder=" " wrap="hard" required> Qual a linguagem de programação mais usada? JavaScript é uma linguagem de programação universal, multiplataforma e linguagem mais popular no mundo inteiro nos últimos sete anos.
</textarea>
    <textarea name="pergunta" rows="4" cols="80" placeholder="" wrap="hard" required> Node.js é um software de código aberto, multiplataforma, baseado no interpretador V8 do Google e que permite a execução de códigos JavaScript fora de um navegador web.
</textarea>
    <textarea name="pergunta" rows="4" cols="80" placeholder="" wrap="hard" required> O que é React? O React é uma biblioteca JavaScript de código aberto com foco em criar interfaces de usuário em páginas web.
</textarea>


    <div class="d-grid gap-2 d-md-2">
      <a style="text-decoration: none; color: #fff; " href="perguntar.html"><button
          class="btn btn-primary me-md-2 btn-flex" type="button"><span class="txt-btn-pesquisar"><img
              src="/img/lapis.png.png" alt="lupa.png" style="width: 62%;"></button></a>
    </div>

</body>

<footer>
  <%- include("../partials/footer") %> 
</footer>

</html>