<!DOCTYPE html>
<html lang="pt-br">

<head>
  <%- include("../partials/head") %>
    <link rel="stylesheet" href="../style/pesquisa.css">
</head>

<body>
  <header>
    <nav class="linha fundo-nav">
      <div class="col-8">
        <a href="/">
          <img src="../img/logo-header.png" alt="" height="35vh">
        </a>
      </div>
      
      <section class="col">
        <ul class="row menu">
          <li class="col">
            <a href="/perguntar" title="Perguntar">Perguntar</a>
          </li>
          <li class="col">
            <a href="/login" title="Entrar">Entrar</a>
          </li>
          <li class="col">
            <a href="/cadastro" title="Cadastrar">Cadastrar</a>
          </li>
        </ul>
        <button class="navbar-toggler navbar-dark" style=" margin-left: 65%;" type="button" data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="menu-hamburguer offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
          aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel" style="color: #fff;">Menu</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" ; aria-label="Close"
              style="background-color: #fff;"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="menu">
              <li class="col">
                <a href="/perguntar" title="Perguntar">Perguntar</a>
              </li>
              <li class="col">
                <a href="/login" title="Entrar">Entrar</a>
              </li>
              <li class="col">
                <a href="/cadastro" title="Cadastrar">Cadastrar</a>
              </li>
            </ul>
          </div>
        </div>
      </section>

    </nav>
  </header>

  <div id="divBusca">
    <img src="../img/lupa.png" alt="Pesquise aqui..."" />
    <input type="text" id="txtBusca" placeholder="Pesquise aqui..." />
  </div>
  </div>
  <div class="div-perguntar-pesq">

    <h1 class="titulo-pesq"><b>Principais resultados...</b></h1>
    <div class="fundo-pergunta-pesq">
      <li>
        <div class="pergunta-pesq">
          <img src="https://icon-library.com/images/profile-png-icon/profile-png-icon-1.jpg" height="16rem"
            style="margin: 0.5rem;"><a herf="#" class="link-usuario">User412938</a>
          <h3 class="h3-pesq">
            <b>Qual a linguagem de programação mais usada?</b>
          </h3>
          <div class="resposta">
            <img src="https://icon-library.com/images/profile-png-icon/profile-png-icon-1.jpg" height="13rem"
              style="margin: 0.5rem;"><a href="#" class="link-usuario" style="font-size: 0.5rem;">User21123</a>
            <h6 class="h6-pesq">JavaScript é uma linguagem de programação universal, multiplataforma e linguagem mais
              popular no mundo inteiro nos últimos sete anos.</h6>
          </div>
        </div>
      </li>
      <li>
        <div class="pergunta-pesq">
          <img src="https://icon-library.com/images/profile-png-icon/profile-png-icon-1.jpg" height="16rem"
            style="margin: 0.5rem;"><a herf="#" class="link-usuario">User412938</a>
          <h3 class="h3-pesq">
            <b>O que é Node.js</b>
          </h3>
          <div class="resposta">
            <img src="https://icon-library.com/images/profile-png-icon/profile-png-icon-1.jpg" height="13rem"
              style="margin: 0.5rem;"><a href="#" class="link-usuario" style="font-size: 0.5rem;">User21123</a>
            <h6 class="h6-pesq">Node.js é um software de código aberto, multiplataforma, baseado no interpretador V8 do
              Google e que permite a execução de códigos JavaScript fora de um navegador web.</h6>
          </div>
        </div>
      </li>
      <li>
        <div class="pergunta-pesq">
          <img src="https://icon-library.com/images/profile-png-icon/profile-png-icon-1.jpg" height="16rem"
            style="margin: 0.5rem;"><a herf="#" class="link-usuario">User412938</a>
          <h3 class="h3-pesq">
            <b>O que é React?</b>
          </h3>
          <div class="resposta">
            <img src="https://icon-library.com/images/profile-png-icon/profile-png-icon-1.jpg" height="13rem"
              style="margin: 0.5rem;"><a href="#" class="link-usuario" style="font-size: 0.5rem;">User21123</a>
            <h6 class="h6-pesq">O React é uma biblioteca JavaScript de código aberto com foco em criar interfaces de
              usuário em páginas web.</h6>
          </div>
        </div>
      </li>
    </div>
  </div>

  <div class="d-grid gap-2 d-md-2">
    <a style="text-decoration: none; color: #fff; " href="perguntar"><button class="btn btn-primary me-md-2 btn-flex"
        type="button"><span class="txt-btn-pesquisar"><img src="/img/lapis.png" alt="lupa.png"
            style="width: 62%;"></button></a>
  </div>

  <div>
    <%- include("../partials/modalfooter") %>
  </div>
</body>

<footer>
  <%- include("../partials/footer") %>
</footer>

</html>